@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    background-color: transparent;
    color: rgba(9, 9, 9, 0.75);
}

a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.25em;
    color: rgba(9, 9, 9, 0.75);
    text-decoration: none;
}

li {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1em;
    color: rgba(9, 9, 9, 0.75);
    text-decoration: none;
    margin-bottom: 0.75em;
}

b, strong {
    color: rgba(0,136,169,1);
    }

button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1em;
    color: white;
    text-decoration: none;
}
 /* Contact form */

textarea {
    padding: 8px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
    font-weight: bolder;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
  }


/* Navigation */


body {
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
}

 /* Style the navigation menu */
 .topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #nav_links {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: transparent;
    color: rgb(255, 255, 255);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: transparent;
    color: rgb(57, 168, 29);
  }
 
#root {
    height: auto;
    width: 100%;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    z-index: 998;

}

#up_arrow {
    width: 2.5em;
    height: 2.5em;
    display: none;
    position: fixed;
    top: 1em;
    right: 1.3em;
    z-index: 999;
}

#intro {
    position: relative;
    height: auto;
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    z-index: 998;
    scroll-snap-align: start;
}


#intro_container .page_content_intro {
    background-image: url("../img/intro.jpg");
    background-repeat: no-repeat;
    background-size: cover, 50%;
    background-position: left 77% center;
}


#intro_container p {
    color: #dbe6e6;
    text-shadow: 1px 1px 1px #000000;
    font-size: 1em;
}


.page_content_intro {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 5vw;
    width: 90vw;
    height: 80vh;
    z-index: 0;
    background-color: transparent;
}

.page_title_intro {
    margin-top: 40%;
    color: #798e8e;
    text-shadow: 1px 1px 1px #000000;
    font-size: 2.5em !important;
    font-family: "Montserrat", sans-serif;
    background-color: transparent;
}

.photo_credit {
    margin-top: auto;
    color: rgba(255, 255, 255, 0.788);
}

.photo_credit a {
    font-size: 0.9em !important;
    color: rgba(255, 255, 255, 0.788) !important;
}

#about {
    height: auto;
    width: 100vw;
    z-index: 998;
    scroll-snap-align: start;
    margin-top: 1em;
}

#about_container {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 5vw;
    z-index: 0;
    background-color: transparent;
}


#about_image {
    width: 100%;
    position: relative;
    display: flex !important;
    flex-flow: column nowrap;
    justify-content: start !important;
    align-items: center !important;
}

#picture_gilles {
    position: relative;
    width: 100%;
    height: auto;
}


#about_text {
    position: relative;
    background-color: rgba(0, 0, 0, 0.829);
    overflow: hidden;
    display: inline-block;
    margin: 1.5em 0;
}

#about_text p {
    color: white;
    margin: 1.5em;
}

#about_icons {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-content: center;
    position: relative;
    height: auto;
    width: 100%;
}

#about_icons img {
    height: 3em;
    width: auto;
}

.about_resume {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.about_resume p {
    margin-top: 0.5em;
    text-align: center;
}

.page_content_select {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 5vw;
    width: 90vw;
    height: auto;
    z-index: 0;
    background-color: transparent;
}

#selection {
    height: auto;
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    z-index: 998;
    scroll-snap-align: start;
    margin-top: 1em;
}

#select_content {
    display: none;
    height: auto;
    width: 100vw;
    flex-flow: column nowrap;
    align-items: center;
    z-index: 998;
    scroll-snap-align: start;
}

#programming_select {
    background-image: url("../img/selection_code.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;    
    width: 100%;
    height: 40vh;
    display: flex;
    flex-flow: column nowrap;    
    justify-content: center;
    align-items: center;
}


#support_select {
    background-image: url("../img/selection_support.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    width: 100%;
    height: 40vh;
    display: flex;
    flex-flow: column nowrap;    
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

#support_select div, #programming_select div {
    width: 100%;
    margin: 0 auto;
    font-size: 1.5em;
    background-color: rgba(255, 255, 255, 0.63);
    cursor: pointer;
    margin-top: 30%;
    padding-left: 2%;
}

#return_icon {
    position: absolute;
    right: 2.5em;
    top: 2em;
    font-size: 1.5em;
    width: 2em;
    height: 2em;
    cursor: pointer;
    z-index: 10;
}

#software {
    height: auto;
    width: 100vw;
    overflow: hidden;
    scroll-snap-align: start;
}

#software h3 {
    text-decoration: underline;
    text-underline-offset: 0.5em;
    margin-bottom: 1em;
}

#support {
    height: auto;
    width: 100vw;
    overflow: hidden;
    scroll-snap-align: start;
}

#support h3 {
    text-decoration: underline;
    text-underline-offset: 0.5em;
    margin-bottom: 1em;
}


.select_content_header {
    text-shadow: 1px 1px 1px #d1d1d1;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    position: relative;
    padding: 1em;
    background-image: linear-gradient(rgba(9, 97, 138, 0.575), rgba(30, 172, 238, 0.575));
    z-index: 5;
    margin-bottom: 1em;
}

.select_content_header h2 b {
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px #686868;
}


.select_content_header p {
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px #686868;
    font-size: 1.2em;
    font-weight: 500;
}

.select_content_experience {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 40%;
}

.experience_ul li {
    list-style-type: square;
    margin-bottom: 2em;
    margin-left: 0.5em;
}

.experience_ul li p, .competences_ul li p {
    font-size: 1.05em;
}

.competences_ul li {
    list-style-type: square;
    margin-left: 0.5em;
}

.select_content_proficiency {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    position: relative;
}

.select_content_competences_software {
    display: flex;
    flex-flow: column nowrap;
    height: auto;
    width: 100%;
}

.select_content_competences_support {
    display: flex;
    flex-flow: column nowrap;
    height: auto;
    width: 100%;
}

.proficiency_ul {
    display: flex;
    flex-flow: column nowrap;
}

.proficiency_ul li {
    display: flex;
    flex-flow: row nowrap;
    font-size: 1.2em;
    justify-content: space-evenly;
}

.proficiency_text {
    width: 50%;
    color: rgba(0,136,169,1);
    font-weight: bold;
}

.stars_icon {
    width: 50%;
    height: auto;
}

.stars_wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-end;
    width: 50%;
}

.stars_wrapper p {
    font-size: 0.75em;
}



.page_header {
    position: relative;
    top: 15%;
    left: 20%;
    display: flex;
    flex-flow: column nowrap;
    background-color: transparent;
}

.page_title {
    color: rgba(0,136,169,1);
    width: 70%;
    text-shadow: 1px 1px 1px #00000080;
    font-size: 3.5em;
    font-family: "Montserrat", sans-serif;
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.page_subtitle {
    color: rgba(22, 22, 22, 0.75);
    font-size: 1em;
    font-family: "Montserrat", sans-serif;
    background-color: transparent;
    text-shadow: 1px 1px 1px #0000003b;
}


.page_content {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 5vw;
    width: 90vw;
    height: auto;
    z-index: 0;
    background-color: transparent;
}


.content_wrapper {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    height: auto;
    width: 80%;
    padding-left: 10px;
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    margin: 10px 0;
}

.section_divider {
    height: 1px;
    width: 60%;
    border: 1px solid black;
    margin-top: 1em;
}


#intro_frames {
    position: absolute;
    bottom: 7.5em;
    height: 25em;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

#intro_frames img {
    width: 33%;
    height: 25em;
    display: block;
}

#contact {
    position: relative;
    height: auto;
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    z-index: 998;
    scroll-snap-align: start;
    margin-top: 1em;
}

#contact_form {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.contact_input {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

#send_button {
    align-self: flex-end;
    margin: 1em;
}

.contact_header {
    width: 100%;
}

.contact_header h2 {
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 4px #50505049;
  padding-bottom: 0.5em;
}

.contact_footer {
  width: 100%;
  font-size: 1em;
  padding-top: 1.5em;
}
.contact_footer p {
  color: rgb(0, 0, 0);
}

.contact_body {
  background-image: url("../img/postbox2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  padding: 0;
  border: 1px solid #888;
  width: 100%;
  height: 65vh;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 0.9em;
    font-family: "Montserrat", sans-serif;
    display: inline;
    text-align: center;
    padding-bottom: 1.75em;
}

.footer_txt {
    position: relative;
    margin: 0 auto;
    float: none;
}