@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    background-color: transparent;
    color: rgba(9, 9, 9, 0.75);
}

a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.25em;
    color: rgba(9, 9, 9, 0.75);
    text-decoration: none;
}

li {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1em;
    color: rgba(9, 9, 9, 0.75);
    text-decoration: none;
    margin-bottom: 0.75em;
}

b, strong {
    color: rgba(0,136,169,1);
    }

button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1em;
    color: white;
    text-decoration: none;
}
 /* Contact form */

textarea {
    padding: 8px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
    font-weight: bolder;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
  }


/* Navigation */

.nav_links {
    margin: 1.25em 0;
}

.nav_links a {
    cursor: pointer;
    padding: 0.35em;
}

body {
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
}

#navigation {
    height: 5em;
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    flex-flow: row nowrap;
    background-color: transparent;
    z-index: 99999;
}

#root {
    height: auto;
    width: 100%;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    z-index: 999;

}

#intro {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    z-index: 999;
    scroll-snap-align: start;
}

#about {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    z-index: 999;
    scroll-snap-align: start;
}

#skills {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    z-index: 999;
    scroll-snap-align: start;
}

#selection {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    z-index: 999;
    scroll-snap-align: start;
}

#select_content {
    display: none;
    height: 100vh;
    width: 100vw;
    flex-flow: column nowrap;
    align-items: center;
    z-index: 999;
    scroll-snap-align: start;
}

#selection_container {
    height: 100%;
    width: 100%;
}

#programming_select {
    width: 45%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-image: url("../img/selection_code.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
}

#programming_select div {
    width: 75%;
    margin: 0 auto;
    font-size: 4em;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.63);
    cursor: pointer;
}

.divider {
    height: 80%;
    width: 1px;
    border: 1px solid black;
}

#support_select {
    background-image: url("../img/selection_support.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    width: 45%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;    
    justify-content: center;
    align-items: center;
}

#support_select div {
    width: 75%;
    margin: 0 auto;
    font-size: 4em;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.63);
    cursor: pointer;
}

#photo_credit_intro {
    position: absolute;
    bottom: -8%;
    left: 0;
    right: 0;
    margin-left: auto; 
    margin-right: auto; 
    width: 22%; /* Need a specific value to work */
}

#photo_credit {
    position: absolute;
    bottom: 1%;
    left: 0;
    right: 0;
    margin-left: auto; 
    margin-right: auto; 
    width: 35%; /* Need a specific value to work */
}

#return_icon {
    position: absolute;
    left: 0;
    top: 35%;
    width: 5em;
    height: auto;
    cursor: pointer;
}

#software {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#software h2 {
    text-decoration: underline;
    text-underline-offset: 0.5em;
    margin-bottom: 1em;
}

#support {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#support h2 {
    text-decoration: underline;
    text-underline-offset: 0.5em;
    margin-bottom: 1em;
}


.select_content_header {
    text-shadow: 1px 1px 1px #d1d1d1;
    display: flex;
    flex-flow: column nowrap;
    width: 71%;
    position: relative;
    padding: 2% 4% 4% 4%;
    background-image: linear-gradient(rgba(9, 97, 138, 0.575), rgba(30, 172, 238, 0.575));
    left: 3.5%;
}

.select_content_header h1 b {
    margin-left: 1em;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px #686868;
}


.select_content_header p {
    margin-left: 2em;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px #686868;
    font-size: 1.2em;
    font-weight: 500;
}

.select_content_experience {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    width: 70%;
    margin-left: 3em;
    margin-top: 1.5em;
    height: 40%;
}

.experience_ul li {
    list-style-type: square;
    margin-bottom: 2em;
}

.experience_ul li p, .competences_ul li p {
    font-size: 1.05em;
}

.competences_ul li {
    list-style-type: square;
}

.select_content_proficiency {
    display: flex;
    flex-flow: column nowrap;
    width: 71%;
    position: relative;
    top: 7.75%;
    left: 3.5%;
}

.select_content_competences_software {
    display: flex;
    flex-flow: column nowrap;
    margin-left: 3em;
    height: 60%;
    width: 70%;
}

.select_content_competences_support {
    display: flex;
    flex-flow: column nowrap;
    margin-left: 3em;
    height: 69.5%;
    width: 70%;
}

.proficiency_ul {
    display: flex;
    flex-flow: column nowrap;
}

.proficiency_ul li {
    display: flex;
    flex-flow: row nowrap;
    font-size: 1.2em;
    justify-content: space-evenly;
}

.proficiency_text {
    width: 60%;
    color: rgba(0,136,169,1);
    font-weight: bold;
}

.stars_icon {
    width: 50%;
    height: auto;
}

.stars_wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-end;
    width: 40%;
}

.stars_wrapper p {
    font-size: 0.75em;
}


#intro_container .page_content_intro {
    background-image: url("../img/intro.jpg");
    background-repeat: no-repeat;
    background-size: cover, 75%;
    background-position: right bottom, right -150px top -50px;
}


#intro_container p {
    color: #dbe6e6;
    text-shadow: 1px 1px 1px #000000;
}

.page_header_intro {
    position: relative;
    top: 30%;
    left: 20%;
    display: flex;
    flex-flow: column nowrap;
    background-color: transparent;
}

.page_title_intro {
    color: #798e8e;
    text-shadow: 1px 1px 1px #000000;
    font-size: 3.5em;
    font-family: "Montserrat", sans-serif;
    background-color: transparent;
}

.page_header {
    position: relative;
    top: 15%;
    left: 20%;
    display: flex;
    flex-flow: column nowrap;
    background-color: transparent;
}

.page_title {
    color: rgba(0,136,169,1);
    width: 70%;
    text-shadow: 1px 1px 1px #00000080;
    font-size: 3.5em;
    font-family: "Montserrat", sans-serif;
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.page_subtitle {
    color: rgba(22, 22, 22, 0.75);
    font-size: 2.3em;
    font-family: "Montserrat", sans-serif;
    background-color: transparent;
    text-shadow: 1px 1px 1px #0000003b;
}

.page_content_about {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin: 5vw;
    width: 85vw;
    height: 80vh;
    z-index: 0;
    background-color: transparent;
}

.page_content_intro, .page_content_select {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin: 5vw;
    width: 90vw;
    height: 80vh;
    z-index: 0;
    background-color: transparent;
}


.page_content {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin: 5vw;
    width: 90vw;
    height: 90vh;
    z-index: 0;
    background-color: transparent;
}

.left_page_intro {
position: absolute;
left: 0;
width: 50%;
height: 100%;
background-color: transparent;
overflow: hidden;
}

.left_page {
position: absolute;
left: 0;
width: 50%;
height: 100%;
background-color: transparent;
overflow: hidden;
display: flex;
flex-flow: column nowrap;
justify-content: center;
align-items: center;
}

.left_page_skills {
position: absolute;
left: 0;
width: 50%;
height: 100%;
background-color: transparent;
overflow: hidden;
display: flex;
flex-flow: column nowrap;
justify-content: flex-start;
align-items: center;
margin-top: 5%;
}

.right_page {
    position: absolute;
    right: 0;
    width: 60%;
    height: 100%;
    background-color: transparent;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.right_page_skills {
    position: absolute;
    right: 0;
    width: 60%;
    height: 100%;
    background-color: transparent;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
}


.right_content {
    height: auto;
    margin: 0 auto;
    width: 90%;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    background-image: linear-gradient(rgba(9, 97, 138, 0.575), rgba(30, 172, 238, 0.575));
    padding: 4em;
}

.right_content p {
    color: white;
    text-shadow: 2px 2px 4px #707070;
    margin-left: 2em;
}

.content_wrapper {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    height: auto;
    width: 80%;
    padding-left: 10px;
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    margin: 10px 0;
}

.section_divider {
    height: 1px;
    width: 60%;
    border: 1px solid black;
}


#about_image {
    display: flex !important;
    margin-top: 8%;
    flex-flow: column nowrap;
    justify-content: start !important;
    align-items: center !important;
}

#about_icons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-content: center;
    position: relative;
    height: auto;
    width: 40%;
    margin-top: 2em;
}

#about_icons img {
    height: 3em;
    width: auto;
}

.about_resume {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.about_resume p {
    margin-top: 0.5em;
    text-align: center;
}

#picture_gilles {
    position: relative;
    max-width: 85%;
    height: auto;
    margin: 0 auto;
}

#intro_frames {
    position: absolute;
    bottom: 7.5em;
    height: 25em;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

#intro_frames img {
    width: 33%;
    height: 25em;
    display: block;
}


#contact_form {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.contact-input {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

#send_button {
    align-self: flex-end;
    margin: 3px 0;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(255, 255, 255, 0); /* Fallback color */
    background-color: rgba(226, 226, 226, 0.637); /* Black w/ opacity */
}
/* Modal Header */
.modal-header {
    width: 90%;
    padding: 2px 16px;
    height: 15%;
    align-self: flex-start;
    margin-left: 10%;
  }

  .modal-header h2 {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px #00000049;
  }
  
  /* Modal Body */
  .modal-body {    
    width: 50%;
    height: 72.5%;  
    padding: 2px 16px;
    position: relative;
    align-self: flex-end;
    margin-right: 10%;
    color: rgb(255, 255, 255);
}
  
  /* Modal Footer */
  .modal-footer {
    width: 80%;
    font-size: 0.75em;
    padding: 2px 16px;
    height: auto;
    align-self: flex-end;
    margin: 5px 10%;
    text-shadow: 1px 1px 2px #00000049;
    background-color: rgba(0, 0, 0, 0.205);
  }

  .modal-footer p {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px #00000049;
  }
  
  /* Modal Content */
  .modal-content {
    background-image: url("../img/postbox2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    height: 50%;
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
/* Modal Header */
.modal-header-details {
    width: 90%;
    padding: 2px 16px;
    text-shadow: 2px 2px 4px #00000049;
    height: 15%;
    align-self: flex-start;
    margin-left: 10%;
  }
  
  /* Modal Body */
  .modal-body-details {    
    width: 50%;
    height: 70%;  
    padding: 2px 16px;
    position: relative;
    align-self: flex-end;
    margin-right: 10%;
}
  
  /* Modal Footer */
  .modal-footer-details {
    width: 80%;
    font-size: 0.75em;
    padding: 2px 16px;
    height: auto;
    align-self: flex-end;
    margin: 5px 10%;
    text-shadow: 1px 1px 2px #00000049;
    background-color: rgba(0, 0, 0, 0.205);
  }
  
  /* Modal Content */
  .modal-content-details {
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    height: 50%;
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: rgb(255, 255, 255);
  }
  
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    text-decoration: none;
    cursor: pointer;
  }

#nav_home {
    opacity: 0;
    font-size: 2em;
}

.nav_links {
    list-style: none;
    z-index: 999;
}

.nav_links li {
    display: inline-block;
    padding: 0 20px;
    z-index: 999;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    z-index: 999;
    font-size: 1.75em !important;
}

.nav_links li a:hover {
    color: #798e8e;
}

button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0,136,169,0.8);
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 0.9em;
    font-family: "Montserrat", sans-serif;
    display: inline;
    text-align: center;
    padding-bottom: 1.75em;
}

.footer_txt {
    position: relative;
    margin: 0 auto;
    float: none;
}